<div class='main-top'>
  <input ng-model='vm.player.search' ng-blur='vm.refreshPlayer()' ng-disabled='vm.player.pending' placeholder='Player name or Steam ID'/>

  <div class='choice'>
    <a ng-click='vm.setParam("has_teleports", true)' ng-class='{"active": vm.params.has_teleports}'>TP</a>
    <a ng-click='vm.setParam("has_teleports", false)' ng-class='{"active": !vm.params.has_teleports}'>PRO</a>
  </div>

  <div class='choice'>
    <a ng-click='vm.setParam("modes_list_string", "kz_vanilla")' ng-class='{"active": vm.params.modes_list_string == "kz_vanilla"}'>Vanilla</a>
    <a ng-click='vm.setParam("modes_list_string", "kz_simple")' ng-class='{"active": vm.params.modes_list_string == "kz_simple"}'>SimpleKZ</a>
    <a ng-click='vm.setParam("modes_list_string", "kz_timer")' ng-class='{"active": vm.params.modes_list_string == "kz_timer"}'>KZTimer</a>
  </div>
</div>

<table ng-if='vm.player.top'>
  <thead>
    <tr>
      <th>
        <span ng-click='vm.setSort("map", "name")'>Map <i class='material-icons' ng-if='vm.sort.map == "name"' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span>
        <input ng-model='vm.filter' ng-change='vm.filterChanged()' ng-model-options='{ debounce: 300 }' placeholder='Filter'/>
      </th>
      <th><span ng-click='vm.setSort("map", "difficulty")'>Tier <i class='material-icons' ng-if='vm.sort.map == "difficulty"' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span></th>
      <th><span ng-click='vm.setSort("player", vm.player)'>{{vm.player.name}} <i class='material-icons' ng-if='vm.sort.player == vm.player' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span></th>
      <th><span ng-click='vm.setSort("score", "points")'>Score <i class='material-icons' ng-if='vm.sort.score == "points"' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span></th>
      <th ng-if='vm.params.has_teleports'><span ng-click='vm.setSort("score", "tp")'>TPs <i class='material-icons' ng-if='vm.sort.score == "tp"' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span></th>
      <th ng-repeat='player in vm.compares'>
        <input class='compare-search' ng-model='player.search' ng-blur='vm.refreshPlayer(player)' ng-disabled='player.pending' placeholder='Player name or Steam ID'/>

        <p>
          <span ng-click='vm.setSort("player", player)'>{{player.name || '---'}} <i class='material-icons' ng-if='vm.sort.player == player' ng-class='{reverse: vm.sort.reverse}'>keyboard_arrow_up</i></span>

          <span>
            <a ng-click='vm.removeCompare(player)'>remove</a>
          </span>
        </p>
      </th>
      <th>
        <button ng-click='vm.addCompare()'>Add Player</button>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat='map in vm.filteredMaps|orderBy:vm.sortTable:vm.sort.reverse'>
      <td>{{map.name}}</td>
      <td class='difficulty-{{map.difficulty}}'><span class='truncate'>{{(map.difficulty | mapTier) || '-'}}</span></td>
      <td ng-class='{"is-fastest": vm.isFastest(vm.player, map.id)}'><span class='truncate'>{{(vm.player.top_by_map[map.id].time | mapTime) || '-'}}</span></td>
      <td class='points-cell' ng-class='{"top": vm.player.top_by_map[map.id].points >= 1000, "gold": vm.player.top_by_map[map.id].points >= 900, "silver": vm.player.top_by_map[map.id].points >= 800}'>
        <span>{{vm.player.top_by_map[map.id].points || '-'}}</span>
      </td>
      <td ng-if='vm.params.has_teleports'>
        <span ng-if='vm.player.top_by_map[map.id].teleports'>{{vm.player.top_by_map[map.id].teleports}} TP{{vm.player.top_by_map[map.id].teleports > 1 ? "s" : ""}}</span>
        <span ng-if='!vm.player.top_by_map[map.id].teleports'>-</span>
      </td>
      <td ng-repeat='player in vm.compares'
          ng-class='{"is-fastest": vm.isFastest(player, map.id), "longer-time": (player.top_by_map[map.id].time > vm.player.top_by_map[map.id].time), "shorter-time": (player.top_by_map[map.id].time < vm.player.top_by_map[map.id].time), "big-gap": vm.timeGap(player.top_by_map[map.id].time, vm.player.top_by_map[map.id].time) > 0.04, "bigger-gap": vm.timeGap(player.top_by_map[map.id].time, vm.player.top_by_map[map.id].time) > 0.25}'>
        <span class='truncate'>{{(player.top_by_map[map.id].time | mapTime) || '-'}}</span>
        <small class='truncate' ng-if='player.top_by_map[map.id].time && vm.player.top_by_map[map.id].time'>({{vm.timeDiff(vm.player.top_by_map[map.id].time, player.top_by_map[map.id].time)}})</small>
      </td>
      <td>-</td>
    </tr>
  </tbody>
</table>
