app-main
  display: block
  padding: 16px

  .main-top
    +flex

    margin: 0 0 16px

    > *
      margin-right: 16px

    .choice
      +flex

      a
        color: $N800
        background-color: $N0
        border-radius: 4px
        padding: 2px 4px
        margin: 0 2px
        cursor: pointer
        border: solid thin $N60

        &:hover
          color: $B100
          border-color: $B100

        &.active
          color: $N0
          background-color: $B100
          border-color: $B100

  table
    border-spacing: 0
    border-collapse: collapse

    font-size: 12px


    tr
      th, td
        padding: 2px
        max-width: 240px

      th
        text-align: left
        vertical-align: bottom

        input.compare-search
          width: 100%

        p
          +flex(row, space-between)
          margin: 0 -4px

          span
            margin: 0 4px



        span[ng-click]
          +flex(row, flex-start, center)
          display: inline-flex
          cursor: pointer

          &:hover
            color: $B200

          i
            width: 14px
            height: 14px
            font-size: 14px

            &.reverse
              transform: rotate(180deg)

      td
        font-weight: 400
        font-family: $mono-font
        // transition: color 0.15s, background-color 0.15s

        &.shorter-time
          color: $G500

          &.big-gap
            color: $G400
          &.bigger-gap
            font-weight: bold

        &.longer-time
          color: $R500

          &.big-gap
            color: $R400
          &.bigger-gap
            font-weight: bold

        &.is-fastest
          background-color: transparentize($G75, 0.65) !important

        &.difficulty-1
          color: #1abebf
        &.difficulty-2
          color: #1abf20
        &.difficulty-3
          color: #bdba2b
        &.difficulty-4
          color: #d47a1c
        &.difficulty-5
          color: #d81c1c
        &.difficulty-6
          color: #e21254
          font-weight: bold
        &.difficulty-7
          color: white
          text-shadow: 0 1px 2px black, 0 -1px 2px black, 1px 0 2px black, -1px 0 2px black
          font-weight: bold

        &.points-cell
          &.silver
            color: #57b53a
          &.gold
            color: #4acd21
            font-weight: bold
          &.top
            color: white
            background-color: #ecbd0f

    tbody tr
      &:nth-child(odd)
        background-color: $N0

      &:hover
        td
          background-color: $B100 !important
          color: $N0 !important
          font-weight: 400 !important
