<%= javascript_include_tag 'application' %>

<% # Put all ng templates here so no html request needed to load them %>
<% ['app/assets/javascripts/'].each do |root| %>
  <% Dir.glob("#{root}**/*.html*").each do |path| %>
    <% filename = path.gsub(root, '').split('.').first %>
    <script type='text/ng-template' id='<%= "#{filename}.html" %>'>
      <%= ERB.new(File.read(path)).result(binding).html_safe %>
    </script>
  <% end %>
<% end %>

<div class='main-content' ui-view></div>
