@mixin flex($direction: row, $justify: flex-start, $align: stretch, $items: $align)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-content: $align
  align-items: $items

@mixin truncate()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.truncate
  +truncate
