ng-transclude, ng-include
  display: inherit
  align-items: inherit
  width: 100%
  height: 100%

*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0
  padding: 0

  background-color: $N20
  font-family: $app-font
  color: $N500
  font-weight: 300

a
  cursor: pointer
  text-decoration: none
  color: $B300

  &:hover
    color: $B400

h1, h2, h3, h4, h5
  margin: 0
  font-weight: 400

h1
  font-size: 32px

h2
  font-size: 24px

h3
  color: $N800
  font-size: 20px
  line-height: 24px
  font-weight: 300

h4
  color: $N800
  font-size: 14px
  line-height: 20px

h5
  color: $N80
  font-size: 14px
  line-height: 20px
  font-weight: 300

button
  cursor: pointer
  outline: none
  border: none
  background-color: transparent
  padding: 0

form
  width: 100%
