<!DOCTYPE html>
<html>
  <head>
    <title>Kzsite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app='kzsite'>
    <%= javascript_include_tag 'application' %>

    <!-- angular templates -->
    <% ['app/assets/javascripts/'].each do |root| %>
      <% Dir.glob("#{root}**/*.html*").each do |path| %>
        <% filename = path.gsub(root, '').split('.').first %>
        <script type='text/ng-template' id='<%= "#{filename}.html" %>'>
          <%= ERB.new(File.read(path)).result(binding).html_safe %>
        </script>
      <% end %>
    <% end %>

    <div class='main-content' ui-view></div>
  </body>
</html>
